body {
    font-family: Verdana;
    font-size: 16px;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0 0 0 20;
    color: #fff;
}

h1 {
    background: rgba(42, 42, 42, 0);
    color: #fff;
    padding: 20px;
    margin: 0 0 0 -20;
    font-weight: normal;
    text-align: right;
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: 20;
    background-size: 300px;
}

h2 {
    background: rgba(50, 50, 50, 0.6);
    color: #fff;
    padding: 5 20 5 0;
    margin: 0 0 0 -20;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
}

a {
    color: #B1DFE1;
    text-decoration: none;
}

table {
    margin: 0 0 0 42;
}

table,
th,
td {
    border: 1px solid;
    border-color: #19283B;
    border-collapse: collapse;
    background: rgba(50, 50, 50, 0.33);
    /*background: rgba(202, 202, 202, 0.5);*/
}

td,
th {
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    height: 30px;
}

td {
    padding-top: 2px;
}

td.control {
    padding-top: 10px;
}

.red {
    color: #A84A30;
}

.redbold {
    color: #A84A30;
    font-weight: bold;
}

.green {
    color: #92D050;
}

.greenbold {
    color: #92D050;
    font-weight: bold;
}

.blue {
    color: #B1DFE1;
}

.bluebold {
    color: #B1DFE1;
    font-weight: bold;
}

li {
    margin: 2px;
    font-size: 12px;
}

div.help {
    background: rgba(50, 50, 50, 0.6);
    color: #fff;
    padding-left: 20px;
    margin-left: -20;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    text-align: left;
}

input,
select {
    background: rgba(50, 50, 50, 0.6);
    color: #cccccc;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: normal;
}

::-moz-selection {
    background: #369398
}

::selection {
    background: #369398;
}

.buttonGreen {
    background-color: #68a824;
    /* Green */
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    width: 120px;
    height: 24px;
    padding: 0px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonGreen span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonGreen span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonGreen:hover span {
    padding-right: 10px;
}

.buttonGreen:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonSelectCSV {
    background-color: #369398;
    /* Blue */
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    width: 120px;
    height: 24px;
    padding: 0px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonSelectCSV span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonSelectCSV span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonSelectCSV:hover span {
    padding-right: 10px;
}

.buttonSelectCSV:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonRed {
    /* Red */
    background-color: #f4511e;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    width: 120px;
    height: 24px;
    padding: 0px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonRed span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonRed span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonRed:hover span {
    padding-right: 10px;
}

.buttonRed:hover span:after {
    opacity: 1;
    right: 0;
}


/* SPINNER */ 

#floatingBarsG{
	position:fixed;
	width:248px;
	height:308px;
	top:50%;
	left:50%;
	margin-top:-154px;
	margin-left:-124px;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255,0.2);
	width:60px;
	height:132px;
	border-radius:20px 20px 20px 20px;
		-o-border-radius:20px 20px 20px 20px;
		-ms-border-radius:20px 20px 20px 20px;
		-webkit-border-radius:20px 20px 20px 20px;
		-moz-border-radius:20px 20px 20px 20px;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:94px;
	animation-delay:0.25s;
		-o-animation-delay:0.25s;
		-ms-animation-delay:0.25s;
		-webkit-animation-delay:0.25s;
		-moz-animation-delay:0.25s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:94px;
	top:02px;
	animation-delay:0.5s;
		-o-animation-delay:0.5s;
		-ms-animation-delay:0.5s;
		-webkit-animation-delay:0.5s;
		-moz-animation-delay:0.5s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_03{
	right:0;
	top:94px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_04{
	bottom:-10px;
	left:94px;
	animation-delay:1.0s;
		-o-animation-delay:1.0s;
		-ms-animation-delay:1.0s;
		-webkit-animation-delay:1.0s;
		-moz-animation-delay:1.0s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}


@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0,0.2);
	}

	100%{
		background-color:rgb(255,255,255,0.2);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0,0.2);
	}

	100%{
		background-color:rgb(255,255,255,0.2);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0,0.2);
	}

	100%{
		background-color:rgb(255,255,255,0.2);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0,0.2);
	}

	100%{
		background-color:rgb(255,255,255,0.2);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0,0.2);
	}

	100%{
		background-color:rgb(255,255,255,0.2);
	}
}